<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
    <td valign="top" align="center"><a style="background:#707dc6;border:1px solid #707dc6;border-radius:26px;color:#ffffff;display:block;font-family:Open Sans,Helvetica,Arial,sans-serif;font-size:14px;padding:9px 22px;text-decoration:none;width: 145px;" target="_blank" href="${link}">Click here to accept</a></td>
  </tr>
</table>