<table style="background:#ebeced" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top"><table cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td align="center"><table width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                  <tbody>
                    <tr>
                      <td style="background:#303c7d" align="center"><table style="width:100%;padding:18px 0" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td width="100%" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="width:100%;padding:12px 0" align="center"><a><img alt="" src="https://ci4.googleusercontent.com/proxy/ckdorCrAyGY0psFqbUvemUUwnJPB5VYAIyQnQtnW0crSBwedJL3PZmOf332FwMl3k_vW6FXGxdaD9cHp2iNo=s0-d-e1-ft#https://i.ibb.co/L0bDS11/whit-logo-fabhr.png" class="CToWUd" width="212"></a></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" align="left">
                          <tbody>
                            <tr>
                              <td width="420" align="left"><table width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td align="center"><table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                                          <tbody>
                                            <tr>
                                              <td style="border-bottom:1px solid rgb(255,255,255);background:rgba(0,0,0,0) none repeat scroll 0% 0%;height:1px;width:100%;margin:0px"></td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td align="center"><table style="background-image:url(https://ci4.googleusercontent.com/proxy/r26DMQ6dFNEnq24M8YbRpxdeNZlNqhydlNG0BlsMZZDYU9iwfBj-pim6uepjDa2pmqP1FgUe893e1NCMHIlLfkUyQvYXRRZyG9LU1aMowXlyO-fF5M7pRakhjKVmAfdaLHErMVbVYAiHqERfjdJiJHMqtTSMMgpGrHXkBqzikHYCPQ=s0-d-e1-ft#https://tlr.stripocdn.email/content/guids/CABINET_e393531dba99db90f14e669f6648901a/images/80121531470542373.jpg);background-color:rgb(232,232,232);background-position:left top;background-repeat:no-repeat" width="600" cellspacing="0" cellpadding="0" bgcolor="#e8e8e8" align="center">
                  <tbody>
                    <tr>
                      <td align="left"><table width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="600" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td align="center"><img alt="Happy Marriage Anniversary" title="Happy Marriage Anniversary" src="https://ci5.googleusercontent.com/proxy/oYcN38A6qJcnXO8JGcKRTJ7I2NNOnBdwaYi8AKkC1boRuihkCIo3oBWwxQ-ECpncyhKfUy2O04fsnCUP0pKQx9USNVY=s0-d-e1-ft#https://i.ibb.co/Lxftyv1/work-anniversary-img.jpg" class="CToWUd a6T" tabindex="0" width="100%"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 727px; top: 395px;"><div id=":19x" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td style="background-color:#f7f8fc" bgcolor="#f8f8f8" align="left"><table width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="560" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td height="20" align="center"></td>
                                    </tr>
                                    <tr>
                                      <td align="center"><h1 style="color:#2f3a7b;font-family:'trebuchet ms','lucida grande','lucida sans unicode','lucida sans',tahoma,sans-serif;font-size:32px;margin:0 0 10px 0">Happy Work Anniversary</h1></td>
                                    </tr>
                                    <tr>
                                      <td align="center"><h3 style="Margin:0;line-height:22px;font-family:'open sans','helvetica neue',helvetica,arial,sans-serif;font-size:15px;font-style:normal;font-weight:normal;color:#575656;padding: 0 15px;">We are proud to have an employee like you as a part of our team. Heartfelt congratulations and best wishes on your anniversary!.</h3></td>
                                    </tr>
                                    <tr>
                                      <td height="20"></td>
                                    </tr>
									<tr>
                      <td style="padding:0px 0 15px" align="center"><table style="border-collapse:collapse!important;font-family: 'open sans','helvetica neue',helvetica,arial,sans-serif;" cellspacing="0" cellpadding="0" border="0">
                          <tbody>
                            <tr>
                              <td><p style="margin:12px 0 0 0;text-align:center;font-size:14px"> Regards, </p>
                                <p style="margin:6px 0 0 0;text-align:center;font-size:14px"> HR Team</p>
                                <p style="margin:6px 0 0 0;text-align:center;font-size:14px">  ${companyName} </p>
                                <p style="margin:18px 0 0 0;text-align:center;font-size:13px"> <img src=" ${companyLogo} " style="width:207px;height:auto"></p>
                                <p></p></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>